.center-div {
    width: 50%;
    margin: 0 auto;
    background-color: white;
    text-align: center; 
}

h1 {
    font-size: large;
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    font-size: medium;
    font-style:normal;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: gray;
}